<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nplab.monkeydkon.ekpaideutikologismikofinalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".SingupActivity"
            android:noHistory="true" />
        <activity android:name=".MainContentActivity" />
        <activity android:name=".BasicConceptsActivity" />
        <activity android:name=".ConceptsIntroActivity" />
        <activity
            android:name=".ConceptsCommentsActivity"
            android:label="@string/title_activity_concepts_comments"
            android:theme="@style/AppTheme" />
        <activity android:name=".ConceptCommentsTestActivitty" />
        <activity android:name=".ConceptsVariablesActivity" />
        <activity android:name=".ConceptsStringsActivity" />
        <activity android:name=".ConceptsInputActivity" />
        <activity android:name=".ConceptsTestFirstActivity" />
        <activity android:name=".ConceptsTestSecondActivity" />
        <activity android:name=".StatementsActivity" />
        <activity android:name=".StatementsIfsActivity" />
        <activity android:name=".StatementsElseIfsActivity" />
        <activity android:name=".StatementsSwitchActivity" />
        <activity android:name=".StatementsWhileActivity" />
        <activity android:name=".StatementsForActivity" />
        <activity android:name=".ClassesActivity" />
        <activity android:name=".ClassesOopActivity" />
        <activity android:name=".ClassesClassesActivity" />
        <activity android:name=".ClassesMethodsActivity" />
        <activity android:name=".ClassesMethodReturnTypesActivity" />
        <activity android:name=".ClassesGettersActivity" />
        <activity android:name=".LoginAsProfActivity" />
        <activity android:name=".ProfActivity" />
        <activity android:name=".ProfChangeActivity" />
        <activity android:name=".ConceptsTestThirdActivity" />
        <activity android:name=".ConceptsTestFourthActivity" />
        <activity android:name=".ClassesTestFirstActivity" />
        <activity android:name=".ClassesTestSecondActivity" />
        <activity android:name=".ClassesTestThirdActivity" />
        <activity android:name=".ClassesTestFourthActivity" />
        <activity android:name=".ClassesTestFifthActivity" />
        <activity android:name=".IfsTestFirstActivity" />
        <activity android:name=".IfsTestSecondActivity" />
        <activity android:name=".IfsTestThirdActivity" />
        <activity android:name=".IfsTestFourthActivity" />
        <activity android:name=".IfsTestFifthActivity" />
        <activity android:name=".ConceptsTestFifthActivity"></activity>
    </application>

</manifest>